.homeContainer {
  margin-top: 8%;
}
.homeContainer img {
  height: 100%;
  width: 100%;
}
.contentHome {
  display: flex;
}
.contentItems {
  padding: 10px;
}
.h1Home{
  border: 1px solid rgb(170, 0, 250, 0.6);
  padding: 5px;
  border-radius: 5px;
}
.h1Home:nth-child(1) {
  font-family: "Times New Roman", Times, serif;
  margin-top: 10%;
  border: 1px solid rgb(170, 0, 250, 0.6);
  padding: 5px;
  border-radius: 5px;
}

.h1Home b {
  color: rgb(170, 0, 250);
  display: inline;
}
.h1Home div{
  display: inline-block;
}
.h2Home {
  text-decoration: underline;
}
.contentItems ul {
  list-style-type: none;
  display: block;
  padding: 10px;
}
.contentItems li {
  background-color: rgb(231, 210, 241);
  margin: 5px;
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
  display: inline-block;
}

.liSeeMore {
  background-color: black;
}

.linkedInHome {
  background-color: rgb(8, 119, 170);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-left: 2%;
  margin-right: 30%;
  animation-name: contacts;
  animation-duration: 2s;
}
.phoneHome {
  background-color: rgb(58, 231, 15);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-right: 30%;
  animation-name: contacts;
  animation-duration: 2s;
}
.emailHome {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.typer{
  width:2px;
  height: 30px;
  background-color: black;
  animation: typing 0.8s infinite;
}

@keyframes typing {
  0%{background-color: black;}
  10%{background-color: white;}
}
@keyframes contacts {
  0% {
    margin-right: 20px;
    transition: 2s;
  }
}
@media (max-width: 768px) {
  .h1Home {
    right: 0;
  }
  .contentItems li {
    display: inline-block;
  }
  .homeContainer {
    margin-top: 30%;
  }
  .contentHome {
    display: block;
  }
  .contentItems {
    width: 100%;
  }
}
